# Resend API Key for sending emails (sign up at https://resend.com)
RESEND_API_KEY=your_resend_api_key_here

# Recipient email address where form submissions will be sent
NOTIFICATION_RECIPIENT_EMAIL=xxx@xxx.xx
